<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Practica Unidad 3</title>
<style>
    body{
        background-color: rgb(174, 97, 247);
    }

</style>
</head>
<body>
    <h1>Practica Unidad 3</h1>
    <img src="/static/img1.jpg">
    <img src="/static/img2.jpg">
    <img src="/static/img3.jpg">
    <img src="/static/img4.jpg">
    <img src="/static/img5.jpg">
</body>
<footer>Monica Esperanza Castaneda Rojas</footer>
</html>
